{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block title %} Send instructions to change password {% endblock %}

{% block mycontent %}

    <h1> Send instructions to change password </h1>
    <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
      {{ forgot_password_form.hidden_tag() }}
      {{ render_field_with_errors("Email address", forgot_password_form.email, class="form-control", placeholder="example@email.com") }}
      {{ render_field(forgot_password_form.submit, class="btn btn-primary", value="Send") }}
    </form>

{% endblock mycontent %}
