{% extends "layout.html" %}
{% import "admin/layout.html" as layout with context %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block title %} Admin {% endblock title %}

{% block navbar %}
    <div class="container">
        {{ nav.admin.render() }}
        {{ layout.menu() }}
        {{ layout.menu_links() }}
    </div>
{% endblock navbar %}

{% block mycontent %}

    <p class="text-right"><strong>{{ current_user.email }}</strong></p>
    <h1> Admin! </h1>

{% endblock mycontent %}
